.wheel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.emotion-wheel {
    width: 50%; /* Adjust size as needed */
    transition: transform 0.2s; /* Smooth transformation */
    user-select: none; /* Disable text selection */
    cursor: grab;
}
